<main>

	<div class="home main center">

	  <section class="profile col-lg-3 col-sm-12">
		<div class="content">
			<div class="bg-pic">
				   
			</div>
			
			<div class="profile-pic">
				<img  src="" alt=""/>  
			</div>
			
			<div class="profile-status">
				<h4>{{pro_name}}</h4>

				<p>{{pro_status}}</p> 
			</div>
			
			<div class="relationships">
				<div>
					 <h5>Friends</h5>

					<a href="#">{{friendNo}} </a>
				</div>
				
				
				<div>
					<h5>Enemies </h5>
					
					<a href="#">{{enemNo}}</a>				
									
				</div>
			</div>
			  
		</div>
		
	  </section>


	  <section class="status col-lg-6 col-sm-12 ">
	  
	   <div class="panel panel-default">
		
		<div class="panel-heading">
			<input type="text" name="text" placeholder=" What do you want to say?"/>  
			<span class="glyphicon glyphicon-envelope"> </span>
		</div>
		
		<div class="panel-body content">
			<div class="col">
				  <div class="col1 marhalf">
				<div class="status-pic">
					   
				</div>
				
			</div>
			<div class="col7">
				<div class="">
					<span><b>{{pro_name}}  </b> </span>
					<span class="pull-right small"> 4:00PM</span>
					
				</div>
				
				<div>
				  <p>
					{{message}}					
				  </p>
					   
					
				</div>
				
				<div class="pictures ">
					<div class="col5 bg marhalf">
						   
					</div>
					<div class="col4 bg ">
						   
					</div>
				
					
				</div>
			</div> 
			</div>
			
			   
		</div>
		
	   </div>	   
		

		
	  </section>


	  <section class="friends col-lg-3 col-sm-12">
	  
		<div class="content">
			<h2>Friends Activity</h2>
			
			<div class="update">
				<div class="status=pic">
					   
				</div>
				<p>{{message}}</p>				
			</div>
			
		</div>
		
		<div class="content">
			<h2>Recommmended </h2>
			
			<div class="cancel">
				<div class="col3 marhalf">
					<div class="status-pic">
				   
					</div>   
				</div>
				<div class="col5">
					<h4> Random Name</h4>
					<button type="button" > Follow</button>   
				</div>
				
			</div>
			   
			
			
		</div>
		
	  </section>

	</div>


</main>

